
.current-container {
  width: 100%;
  background-color: goldenrod;
}

.current-container .bounty-button {
  cursor: pointer;
  padding-right: 10px;
  font-size: 40px;  
}

.bounty-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  border: 1px darkslategrey solid;
  border-radius: 15px;
  padding: 20px 0;
}

#double-arrow {
  height: 40px;
  width: 40px;
  color: green;
  position: absolute;
  transform: translate(0px, 0px);
  cursor: pointer;
}
.bounty-container:hover {
  background-color: rgba(255, 0, 0, 0.6);;
}

.bounty {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.bounty .bounty-time {
  padding-right: 20px;
}

.bounty label {
  display: flex;
}

.bounty label input {
  margin-right: 15px;
}

.button-container{
  display: flex;
  align-items: center;
}

.button-container .bounty-button {
  cursor: pointer;
  padding-right: 10px;
  font-size: 40px;
}

