.header-container {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clock-container {
  position: absolute;
  top: 50;
  right: 75%;
}

.time-container {
  position: absolute;
  top: 50;
  left: 75%;
}

.title-container {
  margin-bottom: 50px;
}

.title-container #title {
  font-size: 70px;
}

.title-container h2 {
  font-style: italic;
  font-size: 20px;
}

.time-container {
  display: flex;
}

#time-swap {
  cursor: pointer;
  color: #0492C2;
}

#time-swap:hover {
  color: #63C5DA;
}

.header-container .chatGPT-button {
  cursor: pointer;
  background: none;
  color: #1167b1;
  border: none;
  height: 50px;
  width: 50px;
}

.header-container .chatGPT-button:hover {
  color: darkred;
}

